:root {
  --brand-color: #ffd100;
  --brand-color-hover: #e3ba03; 
}

.navbar {
  height: 6vh;
}

.navbar-brand {
  font-size: 2em;
  font-style: italic;
  color: var(--brand-color) !important;
}

.nav-item:nth-child(1) {
  margin-right: 10px;
}

.nav-item:nth-child(2) {
  background-color: var(--brand-color);
  border-radius: 10px;
  width: 90px;
  text-align: center;
}

.nav-item:nth-child(2):hover {
  background-color: var(--brand-color-hover);
}

.nav-link {
  font-size: 1.2em;
}

#nav-link-cart {
  color: black !important;
}


.container-fluid {
  margin: 0 20px; 
  padding-top: 10px; 
  padding-bottom: 10px;
}

.container-cards {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin: 15px 0;
}

.col:nth-of-type(-n+4) {
  margin-top: 20px;
}

.col:nth-last-child(-n+2) {
  margin-bottom: 20px;
}

.text-center {
  color: var(--brand-color);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reserve {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  background-color: var(--brand-color);
}

.btn-reserve:hover {
  background-color: var(--brand-color-hover);
}

.btn-disabled {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 120px;
  padding: 5px 10px; 
  font-weight: lighter;
}

.car-available {
  color: green;
}

.car-unavailable {
  color: red;
}